package-lock=false
@jsplumb:registry=https://repo.jsplumbtoolkit.com/repository/jsplumb/
@jsplumbtoolkit:registry=https://repo.jsplumbtoolkit.com/repository/jsplumb/
always-auth=true
_authToken=NpmToken.758f6030-2221-3f24-a228-368033dd9b58

